*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Lato;
}
h2,h3,h4,h5,h6{
    padding:20px 0;
}
.border{
    border:1px solid #000;
}
.border-radius{
     border-radius:10px;
}

.wrapping-border{
    height:auto;
    margin:50px auto;
    
}
.main-heading{
    padding:20px;
    border-bottom:1px solid #000;

}
input,
select,
textarea {
    max-width: 100%;
}
#Desc{
    width:6em;
}
