.bor{
    border:1px solid rgba(128, 128, 128,0.8);
}
.rad{
    border-radius:5px;
    padding:0 12px 12px 12px;
}
.logo{
   display:flex;
   justify-content:left;
}
.logo img{
    width:120px;
    height:120px;
    padding-left:1%;
}